In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("property data.csv")
print(df)

   ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS
0   104.0      PUTNAM            Y            3
1   197.0   LEXINGTON            N            3
2     NaN   LEXINGTON            N          NaN
3   201.0    BERKELEY           12            1
4   203.0    BERKELEY            Y            3
5   207.0    BERKELEY            Y          NaN
6     NaN  WASHINGTON          NaN            2
7   213.0     TREMONT            Y           --
8   215.0     TREMONT            Y           na

In [4]:
print(df["ST_NUM"])
print(df["ST_NUM"].isnull())

0    104.0
1    197.0
2      NaN
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
Name: ST_NUM, dtype: float64
0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: ST_NUM, dtype: bool

In [5]:
print(df["NUM_BEDROOMS"])
print(df["NUM_BEDROOMS"].isnull())

0      3
1      3
2    NaN
3      1
4      3
5    NaN
6      2
7     --
8     na
Name: NUM_BEDROOMS, dtype: object
0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
Name: NUM_BEDROOMS, dtype: bool

In [7]:
missing_values=["n/a","na","--"]
df = pd.read_csv("property data.csv", na_values= missing_values)

In [8]:
print(df["NUM_BEDROOMS"])
print(df["NUM_BEDROOMS"].isnull())

0    3.0
1    3.0
2    NaN
3    1.0
4    3.0
5    NaN
6    2.0
7    NaN
8    NaN
Name: NUM_BEDROOMS, dtype: float64
0    False
1    False
2     True
3    False
4    False
5     True
6    False
7     True
8     True
Name: NUM_BEDROOMS, dtype: bool

In [9]:
print(df["OWN_OCCUPIED"])
print(df["OWN_OCCUPIED"].isnull())

0      Y
1      N
2      N
3     12
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: OWN_OCCUPIED, dtype: object
0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
Name: OWN_OCCUPIED, dtype: bool

In [10]:
cnt = 0
for row in df["OWN_OCCUPIED"]:
    try:
        int(row)
        df.loc[cnt, "OWN_OCCUPIED"] =np.nan
    except ValueError:
        pass
    cnt+=1

In [11]:
print(df["OWN_OCCUPIED"])
print(df["OWN_OCCUPIED"].isnull())

0      Y
1      N
2      N
3    NaN
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: OWN_OCCUPIED, dtype: object
0    False
1    False
2    False
3     True
4    False
5    False
6     True
7    False
8    False
Name: OWN_OCCUPIED, dtype: bool

In [12]:
print(df.isnull())

   ST_NUM  ST_NAME  OWN_OCCUPIED  NUM_BEDROOMS
0   False    False         False         False
1   False    False         False         False
2    True    False         False          True
3   False    False          True         False
4   False    False         False         False
5   False    False         False          True
6    True    False          True         False
7   False    False         False          True
8   False    False         False          True

In [13]:
print(df.isnull().sum())

ST_NUM          2
ST_NAME         0
OWN_OCCUPIED    2
NUM_BEDROOMS    4
dtype: int64

In [14]:
print(df.isnull().values.any())

True

In [16]:
print(df.isnull().sum().sum()) #total number of missing values

8

In [17]:
print(df)

   ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS
0   104.0      PUTNAM            Y           3.0
1   197.0   LEXINGTON            N           3.0
2     NaN   LEXINGTON            N           NaN
3   201.0    BERKELEY          NaN           1.0
4   203.0    BERKELEY            Y           3.0
5   207.0    BERKELEY            Y           NaN
6     NaN  WASHINGTON          NaN           2.0
7   213.0     TREMONT            Y           NaN
8   215.0     TREMONT            Y           NaN

In [18]:
df["ST_NUM"].fillna(125, inplace=True) #inplace makes changes permanent
print(df["ST_NUM"])

0    104.0
1    197.0
2    125.0
3    201.0
4    203.0
5    207.0
6    125.0
7    213.0
8    215.0
Name: ST_NUM, dtype: float64

In [19]:
print(df["ST_NUM"])
df.loc[2,"ST_NUM"] = 999
print(df["ST_NUM"])

0    104.0
1    197.0
2    125.0
3    201.0
4    203.0
5    207.0
6    125.0
7    213.0
8    215.0
Name: ST_NUM, dtype: float64
0    104.0
1    197.0
2    999.0
3    201.0
4    203.0
5    207.0
6    125.0
7    213.0
8    215.0
Name: ST_NUM, dtype: float64

In [20]:
print(df["NUM_BEDROOMS"])
median = df["NUM_BEDROOMS"].median()
print(median)
df["NUM_BEDROOMS"].fillna(median, inplace=True)
print(df["NUM_BEDROOMS"])

0    3.0
1    3.0
2    NaN
3    1.0
4    3.0
5    NaN
6    2.0
7    NaN
8    NaN
Name: NUM_BEDROOMS, dtype: float64
3.0
0    3.0
1    3.0
2    3.0
3    1.0
4    3.0
5    3.0
6    2.0
7    3.0
8    3.0
Name: NUM_BEDROOMS, dtype: float64

# Usually changing with mean or median is bad idea