In [1]:
import numpy as np
import pandas as pd

In [2]:
ls

 Volume in drive C has no label.
 Volume Serial Number is AA5B-3C6B

 Directory of C:\Users\Neco\Documents\GitHub\Projects\ML\Adult Data Set

10/28/2019  09:10 AM    <DIR>          .
10/28/2019  09:10 AM    <DIR>          ..
10/28/2019  09:10 AM    <DIR>          .ipynb_checkpoints
09/02/2019  12:20 PM         4,006,867 adult.data
10/28/2019  09:10 AM                72 Adult.ipynb
09/02/2019  12:20 PM             5,339 adult.names
09/02/2019  12:20 PM         2,019,436 adult.test
09/02/2019  12:20 PM             4,356 old.adult.names
               5 File(s)      6,036,070 bytes
               3 Dir(s)  216,046,452,736 bytes free

In [23]:
train_data = pd.read_csv('adult.data', header=None, sep=',')

In [26]:
train_data.columns = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','Money made']

In [27]:
train_data.head(4)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Money made
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K

In [8]:
test_data = pd.read_csv('adult.test', header=None, sep=',')

In [10]:
train_data.shape

(32561, 15)

In [11]:
test_data.shape

(16281, 15)

In [29]:
train_data.shape

(32561, 15)

In [34]:
train_data['education'].value_counts()

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64